---
effectiveDate: January 25, 2025
link: privacy-policy/
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy | {{site.fullName}}</title>
    {% include "partials/head.njk" %}
  </head>
  <body class="bg-gray-50 dark:bg-black text-gray-900 dark:text-white">
    {% include "partials/consent.njk" %}
    {% include "partials/navbar.njk" %}

    

    {% include "partials/footer.njk" %}
    {% include "scripts/base.njk" %}

  </body>
</html>
