<button
  id="back-to-top"
  class="fixed bottom-4 right-4 bg-primary text-white p-3 w-12 h-12 rounded-full shadow-lg hidden focus:outline-none hover:bg-primary-dark transition"
  aria-label="Back to top"
>
  ↑
</button>
<footer class="max-w-3xl mx-auto p-6 py-16">
  <div class="container text-center">
    <p class="text-base leading-base">
      &copy; {{ currentYear }} {{ site.fullName }} | {{ site.tagline }}
    </p>
    <p class="text-base leading-base">
      <a
        href="/privacy-policy"
        rel="nofollow"
        class="text-primary underline hover:text-accent"
        >Privacy Policy</a
      >
      |
      <a
        href="/terms-of-use"
        rel="nofollow"
        class="text-primary underline hover:text-accent"
        >Terms of Use</a
      >
      |
      <a href="/sitemap.xml" class="text-primary underline hover:text-accent"
        >View our Website Sitemap</a
      >
    </p>
  </div>
</footer>
