<!-- Open Graph Metadata -->
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description}}" />
<meta property="og:url" content="{{site.url}}{{ link}}" />
<meta property="og:image" content="{{site.url}}/assets/images/{{ogImage}}" />
<meta property="og:image:alt" content="{{ogImageAlt}}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:site_name" content="{{site.name}}" />

<!-- Twitter Card Metadata -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ ogTitle or title }}" />
<meta name="twitter:description" content="{{ogDesc or description}}" />
<meta name="twitter:creator" content="@TheLuisMiranda" />
<meta name="twitter:site" content="@Devs_CS" />
<meta name="twitter:image" content="{{site.url}}/assets/images/{{ogImage}}" />
<meta name="twitter:image:alt" content="{{ogImageAlt}}" />

<!-- LinkedIn Metadata -->
<meta property="og:image:secure_url" content="{{site.url}}/assets/images/{{ogImage}}" />
<meta property="og:image:type" content="image/png" />